<div class=" jumbotron">
    <h1 style="text-align:center; color: #71A95A">Designs</h1>
</div>



<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/angy.png" alt="mug">
            <div class="caption">
                <h3 style=" color: #f35588;">Angry Cat</h3>

                <p> @Html.ActionLink("Buy Now!", "Shirts", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
            </div>
        </div>
    </div>



    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/periSideye.png" alt="mug">
            <div class="caption">
                <h3 style=" color: #f35588;">Peridot Sticker</h3>

                <p> @Html.ActionLink("Buy Now!", "Stickers", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
            </div>
        </div>
    </div>



    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/RED&BLUE.png" alt="mug">
            <div class="caption">
                <h3 style=" color: #f35588;">Rupphire </h3>

                <p> @Html.ActionLink("Buy Now!", "Mugs", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
            </div>
        </div>
    </div>

    >
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/Images/astralProject.png" alt="mug">
                <div class="caption">
                    <h3 style=" color: #f35588;"> Astral Projecting Ness</h3>

                    <p> @Html.ActionLink("Buy Now!", "Tumblers", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
                </div>
            </div>
        </div>
    
</div>

<div class=" row">


    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/astralProjectRed.png" alt="mug">
            <div class="caption">
                <h3 style=" color: #f35588;"> Astral Projecting Ness in Red</h3>

                <p> @Html.ActionLink("Buy Now!", "Tumblers", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
            </div>
        </div>
    </div>



    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/crobat.png" alt="mug">
            <div class="caption">
                <h3 style=" color: #f35588;"> Shiny Crobat</h3>

                <p> @Html.ActionLink("Buy Now!", "Tumblers", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/gloomy.png" alt="mug">
            <div class="caption">
                <h3 style=" color: #f35588;"> Gloom </h3>

                <p> @Html.ActionLink("Buy Now!", "Tumblers", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
            </div>
        </div>
    </div>



    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/notGloomy.png" alt="mug">
            <div class="caption">
                <h3 style=" color: #f35588;"> Gloom 2</h3>

                <p> @Html.ActionLink("Buy Now!", "Tumblers", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
            </div>
        </div>
    </div>



    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/help.png" alt="mug">
            <div class="caption">
                <h3 style=" color: #f35588;"> Who's that pokemon?</h3>

                <p> @Html.ActionLink("Buy Now!", "Tumblers", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/idk.png" alt="mug">
            <div class="caption">
                <h3 style=" color: #f35588;"> WWho's that Pokemon? 2</h3>

                <p> @Html.ActionLink("Buy Now!", "Tumblers", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/MelomSticker.png" alt="mug">
            <div class="caption">
                <h3 style=" color: #f35588;"> Watermelon </h3>

                <p> @Html.ActionLink("Buy Now!", "Tumblers", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/pointy.png" alt="mug">
            <div class="caption">
                <h3 style=" color: #f35588;"> Pointy Boy</h3>

                <p> @Html.ActionLink("Buy Now!", "Tumblers", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/shroomill.png" alt="mug">
            <div class="caption">
                <h3 style=" color: #f35588;"> Shroomill</h3>

                <p> @Html.ActionLink("Buy Now!", "Tumblers", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/styledMelon.png" alt="mug">
            <div class="caption">
                <h3 style=" color: #f35588;"> Watermelon-Spiky</h3>

                <p> @Html.ActionLink("Buy Now!", "Tumblers", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/watermelonDS.png" alt="mug">
            <div class="caption">
                <h3 style=" color: #f35588;"> Wacky Watermelon </h3>

                <p> @Html.ActionLink("Buy Now!", "Tumblers", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/sin.jpg" alt="mug">
            <div class="caption">
                <h3 style=" color: #f35588;"> Don't Sin</h3>

                <p> @Html.ActionLink("Buy Now!", "Tumblers", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
            </div>
        </div>
    </div>

</div>
